<a href="https://colab.research.google.com/github/HoneyVienFlojo-4100E212/4100E212-Min-Hai-En/blob/main/(1)20211020_Min_Hai_En.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
def sum(a1, a2, a3):
    result = 0
    for a in range(a1, a2, a3):
        result += a
    return result

def main():
    print("Sum from 10 to 20 is", sum(1, 11, 1)) 
    print("Sum from 20 to 40 is", sum(20, 38, 2))
    print("Sum from 30 to 50 is", sum(35, 50, 3))

main() # Call the main function

Sum from 10 to 20 is 55
Sum from 20 to 40 is 252
Sum from 30 to 50 is 205

In [31]:
def swap(a,b):
  a,b = b,a
  return (a,b)

if __name__ == '__main__':
    x = 50
    g = 60
    print('x = %d,g = %d' % (x,g))
    x,g = swap(x,y)
    print('x = %d,g = %d' % (x,g))

x = 50,g = 60
x = 10,g = 50

In [34]:
def sort(number7, number8):
    if number7 < number8:
        return number7, number8
    else:
        return number8, number7

num7, num8 = sort(31, 25)

print("num7 is", num7)
print("num8 is", num8)

num7 is 25
num8 is 31

In [44]:
def sort(number7, number8, number9):
    if (number7 < number8) and (number7 < number9):
      if number8 < number9:
        return number7, number8,number9
      else:
        return number7, number8,number9
    if (number8< number7) and (number8 < number9):
      if number7 < number9:
        return number8, number7,number9
      else:
        return number8, number9,number7    
    if (number9 < number7) and (number9 < number8):
      if number7 < number8:
        return number9, number7,number8
      else:
        return number9, number8,number7 

num7, num8, num9  = sort(13,14,15)

print("num7 is", num7)
print("num8 is", num8)
print("num9 is", num9)
num1 is 3

num7 is 13
num8 is 14
num9 is 15

True