<a href="https://colab.research.google.com/github/HoneyVienFlojo-4100E212/4100E212-Min-Hai-En/blob/main/MIN_HAI_EN_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRINTF FUNCTIONS

In [1]:
def sum(a1, a2, a3):
    result = 0
    for a in range(a1, a2, a3):
        result += a
    return result

def main():
    print("Sum from 10 to 20 is", sum(1, 11, 1)) 
    print("Sum from 20 to 40 is", sum(20, 38, 2))
    print("Sum from 30 to 50 is", sum(35, 50, 3))

main() # Call the main function

Sum from 10 to 20 is 55
Sum from 20 to 40 is 252
Sum from 30 to 50 is 205

In [5]:
def sort(number7, number8):
    if number7 < number8:
        return number7, number8
    else:
        return number8, number7

num7, num8 = sort(31, 25)

print("num7 is", num7)
print("num8 is", num8)

num7 is 25
num8 is 31

In [6]:
def sort(number7, number8, number9):
    if (number7 < number8) and (number7 < number9):
      if number8 < number9:
        return number7, number8,number9
      else:
        return number7, number9,number8
    if (number8< number7) and (number8 < number9):
      if number7 < number9:
        return number8, number7,number9
      else:
        return number8, number9,number7    
    if (number9 < number7) and (number9 < number8):
      if number7 < number8:
        return number9, number7,number8
      else:
        return number9, number8,number7 

num7, num8, num9  = sort(13,14,15)

print("num7 is", num7)
print("num8 is", num8)
print("num9 is", num9)

num7 is 13
num8 is 14
num9 is 15

In [7]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 17, height = 18):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

IF ELSE

In [ ]:
a = 333
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

STR3

In [ ]:
var1 = 'Almighty Yaksha'

print("var1[0]: ", var1[0])

In [ ]:
b = "Almighty Yaksha!"
print(b[2:5])

DICT DATA TYPE

In [8]:
thisdict = {
    "Topic": "Laptop",
    "Model":"Pavilion",
    "Made In": "United States"
}
print(thisdict)

{'Topic': 'Laptop', 'Model': 'Pavilion', 'Made In': 'United States'}

In [9]:
print("thisdict['Topic']: ", thisdict['Topic'])

thisdict['Topic']:  Laptop

STRING METHOD

In [ ]:
Hinata = "Boke"
x = Hinata.capitalize()
print (x)

In [10]:
Osmanthus = ("Wine", "Stilltaste", "TheSame")

x = "#".join(Osmanthus)

print(x)

Wine#Stilltaste#TheSame

LIST DATA TYPE

In [ ]:
list1 = [90, 56, 14, 56, 32, 98]

list1[1]
56

In [ ]:
list1 = [13, 39, 14, 137, 32, 90]

list1[1]
list1[-2]
list1[0:5]